<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <connectionStrings>
    <add name="ModelCheckerConnection" connectionString="Server=localhost\SQLEXPRESS;Database=ModelChecker;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="ModelCheckerConnection" connectionString="Data Source=saprsrv1; Initial Catalog=ModelChecker; Persist Security Info=True;User ID=TrackerClient;Password=111QQQwww" providerName="System.Data.SqlClient" />-->
    <!--<add name="ModelCheckerConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='d:\temp\ModelChecker.mdf';Integrated Security=True"  providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>