body {
   
}

/* Set padding to keep content from hitting the edges */
.body-content {
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   
}


div::-webkit-scrollbar, -webkit-scrollbar {
    width: 8px;
    height: 8px;
}

div::-webkit-scrollbar-track, -webkit-scrollbar-track {
    background-color: rgba(236, 240, 241, 1);
    width: 8px;
}

div::-webkit-scrollbar-thumb, -webkit-scrollbar-thumb {
    background-color: rgba(52, 73, 94, 0.3);
    border-radius: 3px;
}

div, body, html {
    scrollbar-track-color: rgba(236, 240, 241, 1);
    scrollbar-base-color: rgba(52, 73, 94, 1);
    scrollbar-arrow-color: rgba(52, 73, 94, 1);
}